/*-----------------------Stick footer to bottom---------------------------*/
.container-main {
	min-height: 100vh;
}

.main-content {
	padding-bottom: 11vh;
}

.footer-main {
	background: linear-gradient(rgb(232, 232, 232), rgb(28, 28, 28));
  	color: red;
  	width: 100%;
  	height: 10vh;
  	margin-top: -10vh;
}
/*------------------------header section------------------------------*/
.header-block {
	display: inline-block !important;
}

.ui.block.header {
	background: linear-gradient(rgb(28, 28, 28), rgb(232, 232, 232));
	color: white;
}

.login {
	float: right;
	margin-top: 1em;
}

.login-field {
	margin-right: 5px;
	display: inline-block;
}

.ui.form .fields {
	display: inline-block;
}

.login-2-fields {
	display: block !important;
	margin-right: 0 !important;
}

.ui.header .ui.label {
	margin-left: 0;
}

.login-button {
	margin: -10px 0 0 15px;
	float: right;
}

.signup {
	width: 30em;
	margin: auto;
}

.ui.header>.image:not(.icon), .ui.header>img {
	width: 10em;
}

.ui.segment>.item {
	max-width: 10em;
	max-height: 10em;
}

.ui.secondary.pointing.menu .item {
	padding: 2px;
}

.text-field-group {
	color: #9f3a38;
}

.ui.secondary.pointing.menu .item {
	margin-right: 20px;
}


/*-------------------Users settings section---------------------*/
.header-settings {
	background-color: rgba(70, 130, 180, .4)!important;
}

.create-button {
	margin-bottom: 10px !important;
}

.ui .table {
	border: none;
}

.ui .table thead th {
	color: white;
	background-color: black;
}

.ui .table .table-filter th {
	border: 2px solid black;
	background: transparent;
}

.input-filter {
	width: 100%;
}

.create-type-button {
	margin-top: 10px;
}
/*---------------------User Types Section--------------------------*/
.usertype-th {
	margin-left: 20px;
}

.usertype-th-destroy {
	margin-left: 90px;
}

.usertype-destroy {
	color: red;
	text-align: center;
}